<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-security-filters-1.8.4.jar" contributionJavaDocs="mule-module-security-filters-1.8.4-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-security-filters-1.8.4.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/filters" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/filters/current/mule-filters.xsd" contributionNamespacePrefix="filters" contributionSources="mule-module-security-filters-1.8.4-sources.jar" contributionType="cloud-connector" contributionVersion="1.8.4" minimumVersion="3.9.0" name="Filters" path="editors.xml" version="1.8.4"/></extension></plugin>