<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-security-crc32-1.8.4.jar" contributionJavaDocs="mule-module-security-crc32-1.8.4-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-security-crc32-1.8.4.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/crc32" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/crc32/current/mule-crc32.xsd" contributionNamespacePrefix="crc32" contributionSources="mule-module-security-crc32-1.8.4-sources.jar" contributionType="cloud-connector" contributionVersion="1.8.4" minimumVersion="3.9.0" name="CRC32" path="editors.xml" version="1.8.4"/></extension></plugin>